*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main a{
    color: white;
    text-decoration: none;
    background-color: #ddd;
    color: black;
    padding: 5px;
    border-radius: 50px;
}

.logout
{
    background-color: crimson;
    color: white;
    padding: 10px;
    border: none;
    
}

.logout:hover
{
   opacity: 0.5;
}

